node_modules/
.DS_Store
.vscode/
.competitive-verifier/docs/static/base.css
.competitive-verifier/docs/static/notebook.css
.competitive-verifier/docs/static/notebook.html
.competitive-verifier/docs/static/notebook.pdf
